// 로컬 변수를 전역 변수로 만들기

.info{
	$line-normal : 1.34 !global; // 지역변수 (!global 사용시 전역변수로 바뀜)
	font-size : 15px;
	line-height : $line-normal;
	text-align : right;
  span{
		line-height : $line-normal;
	}
}

div {
  color: red;
  line-height: $line-normal; //지역변수라 사용 불가함
}